:root {
    --white: #fff;
    --bg-morado: #6633CC;
    --fucsia: #FE2A9F;
    --blue-dark: #003399;
    --lila: #E0DEFE;
    --bg-lila: #e0defe;
    --bg-lila-dark: #c2d2e0;
  }
  
  html {
    scroll-behavior: smooth; /* Aplica desplazamiento suave */
}

@font-face {
  font-family: heligthon;
  src: url("font/Heligthon.otf");
}

@font-face {
  font-family: pangram-black;
  src: url("font/Pangram-Black.otf");
}
@font-face {
  font-family: pangram-bold;
  src: url("font/Pangram-Bold.otf");
}
@font-face {
  font-family: pangram-extrabold;
  src: url("font/Pangram-ExtraBold.otf");
}

@font-face {
  font-family: pangram-extralight;
  src: url("font/Pangram-ExtraLight.otf");
}

@font-face {
  font-family: pangram-light;
  src: url("font/Pangram-Light.otf");
}

@font-face {
  font-family: pangram-medium;
  src: url("font/Pangram-Medium.otf");
}

@font-face {
  font-family: pangram-regular;
  src: url("font/Pangram-Regular.otf");
}

@font-face {
  font-family: alte-regular;
  src: url("font/AlteRegular.ttf");
}

@font-face {
  font-family: alte-bold;
  src: url("font/AlteBold.ttf");
}

.fuente-heligthon {
  font-family: heligthon;

}
.fuente-pangram-black {
  font-family: pangram-black;
}
.fuente-pangram-bold {
  font-family: pangram-bold;
}
.fuente-pangram-extrabold {
  font-family: pangram-extrabold;
}
.fuente-pangram-extralight {
  font-family: pangram-extralight;
}
.fuente-pangram-light {
  font-family: pangram-light;
}
.fuente-pangram-medium {
  font-family: pangram-medium;
}
.fuente-pangram-regular {
  font-family: pangram-regular;
}

.fuente-alte-regular {
  font-family: alte-regular;
}

.fuente-alte-bold {
  font-family: alte-bold;
}

.fondo-principal {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  overflow: hidden; /* Opcional: oculta cualquier contenido que se desborde */
}

.fondo-principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/fondo1.webp");
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  opacity: 0.4; /* Opacidad de la imagen de fondo */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

.fondo-servicios {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  overflow: hidden; /* Opcional: oculta cualquier contenido que se desborde */
}

.fondo-servicios::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/servicios-3.webp");
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  opacity: 0.9; /* Opacidad de la imagen de fondo */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}


.fondo-trazos {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  overflow: hidden; /* Opcional: oculta cualquier contenido que se desborde */
}

.fondo-trazos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/patron.png");
  background-color: var(--bg-lila);
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  opacity: 0.4; /* Opacidad de la imagen de fondo */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}


.fondo-trazadas {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  overflow: hidden; /* Opcional: oculta cualquier contenido que se desborde */
}

.fondo-trazadas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/fondo-trazadas.png");
  background-color: var(--bg-lila);
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  opacity: 0.05; /* Opacidad de la imagen de fondo */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

.mi-div {

  border-bottom: 1px solid var(--bg-morado); /* Borde negro en la parte inferior */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); /* Sombra */


}

.mi-div2 {

  border-bottom: 1px solid black; /* Borde negro en la parte inferior */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */


}


.fondo-footer {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  overflow: hidden; /* Opcional: oculta cualquier contenido que se desborde */
}

.fondo-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/fondo-footer.webp");
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

.text-shadow-2xl {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Elimina el estilo predeterminado en WebKit */
  width: 100%; /* Ancho del slider */
  height: 1px; /* Altura de la pista del slider */
  border-radius: 40px;  
  background: var(--fucsia); /* Color de la pista */
  outline: none; /* Sin contorno */
  opacity: 0.7; /* Opacidad */
  transition: opacity .2s; /* Transición suave */
}

.slider:hover {
  -webkit-appearance: none;
  -webkit-transition: .5s;
  transition: opacity .5s;
  opacity: 1; /* Fully shown on mouse-over */
}





input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Elimina el estilo predeterminado */
  appearance: none; /* Elimina el estilo predeterminado */
  width: 65px; /* Ancho del thumb */
  height: 65px; /* Altura del thumb */
  border-radius: 50%; /* Hace que el thumb sea redondo */
  background-image: url('../img/flechav.png');
  cursor: pointer; /* Cambia el cursor al pasar sobre el thumb */
  background-color: var(--lila);
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  
  background-color: var(--bg-morado);
  -webkit-transition: 2.5s;
  transition: opacity 2.5s;
  animation-name: show;
  opacity: 1; /* Fully shown on mouse-over */
}


/* SCROLL horizontal*/

.scrolling-container2 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scrolling-card2 {
  flex: 0 0 auto;
  border-radius: 10px;
  margin: 10px;
  width: 350px;
  height: 300px;
  text-align: center;
  padding: 20px;
  background-color: var(--lila);
  color: var(--bg-morado);
 
  animation-name: show;

}

.scrolling-container2::-webkit-scrollbar {
  display: none;
  
}

.scrolling-buttons-container2 {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

@keyframes show {
 
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}





.image-wrapper {
  position: relative;
  transform-style: preserve-3d; /* Permite que los hijos se transformen en 3D */
  transition: transform 0.5s; /* Transición suave para el efecto */
}


.container-logo:hover .image-wrapper {
  transform: rotateY(15deg) rotateX(15deg); /* Rota la imagen en 3D al pasar el mouse */
}


.container-red {
  overflow: hidden; /* Define la perspectiva para el efecto 3D */
}

.container-red:hover .image-wrapper {
  
  
  
  transform: scale(1.3);
}





.imagen {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.imagen:hover {
    transform: scale(1.2); /* Reduce el tamaño al 90% */
    opacity: 0.7;
}

.container-services {
  overflow: hidden;
  
}

.background-image {
  position: absolute;
  top: -10px;
  left: -10px;
  opacity: 0.3;
  z-index: -1;
  width: 100px;
  transition: transform 0.3s ease;
  transform-origin: top left;
}

.container-services:hover .background-image {
  transform: scale(1.5); 
  opacity: 0.2;
}

.title-card {
  transition: transform 0.3s ease;
}

.container-services:hover .title-card {
  color: var(--blue-dark);
  transform: scale(1.1);
}

.container-services:hover{
  background: linear-gradient(135deg, var(--bg-lila), var(--bg-lila-dark));
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-services:hover .descripcion-card {
  font-weight: bold;
}



/*EFECTO DE PELOTA*/



.container {
  position: relative;
  width: 100px; /* Ancho del contenedor */
  height: 100px; /* Altura del contenedor */
  overflow: hidden;
}

.ball {
  position: absolute;
  top: 0; /* Comienza desde la parte superior */
  left: 50%; /* Centra horizontalmente */
  width: 20px; /* Ancho de la pelota */
  height: 20px; /* Altura de la pelota */
  background-color: #ff5733; /* Color de la pelota */
  border-radius: 50%; /* Hace que la pelota sea redonda */
  animation: bounce 1s forwards; /* Aplica la animación */
}

@keyframes bounce {
  0% {
    transform: translateY(0); /* Comienza en la parte superior */
  }
  50% {
    transform: translateY(100px); /* Baja 300px */
  }
  100% {
    transform: translateY(0); /* Regresa a la parte superior */
  }
}
/*EFECTO DE PELOTA*/



.hover-effect {
  position: relative;
  overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fucsia); /* Color de fondo deseado */
  border-radius: 20px;
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.9s ease; /* Transición suave */
  z-index: 0; /* Asegura que el fondo esté detrás del texto */
}

.hover-effect:hover::before {
  opacity: 1; /* Cambia a visible al pasar el mouse */
  color: white;
}

.hover-effect > span {
  position: relative; /* Para que el texto esté por encima del fondo */

  z-index: 1; /* Asegura que el texto esté por encima del pseudo-elemento */
}


.video-container {
  width: 375px; /* Ancho típico de un teléfono */
  height: 667px; /* Alto típico de un teléfono */
  border: 2px solid #000; /* Opcional: borde para visualizar el contenedor */
  overflow: hidden; /* Oculta cualquier parte del video que sobresalga */
  border-radius: 20px; /* Opcional: bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Opcional: sombra para dar efecto de profundidad */
  margin: auto; /* Centra el contenedor en la página */
}

video {
  width: 100%; /* Ajusta el video al ancho del contenedor */
  height: 100%; /* Ajusta el video a la altura del contenedor */
  object-fit: cover; /* Asegura que el video cubra todo el contenedor */
}


.animated-image {
  position: absolute;
  top: 0; /* Comienza desde la parte superior */
  animation: moveUpDown 5s ease-in-out infinite; /* Llama a la animación */
}

@keyframes moveUpDown {
  0% {
      top: 0; /* Comienza en la parte superior */
  }
  50% {
      top: calc(30% - 200px); /* Baja hasta la parte inferior (altura del contenedor - altura de la imagen) */
  }
  100% {
      top: 0; /* Regresa a la parte superior */
  }
}

.animated-image2 {
  position: absolute;
  top: 0; /* Comienza desde la parte superior */
  animation: moveUpDown2 8s ease-in-out infinite; /* Llama a la animación */
}

@keyframes moveUpDown2 {
  0% {
      top: -400px; /* Comienza en la parte superior */
  }
  50% {
      top: calc(20% - 200px); /* Baja hasta la parte inferior (altura del contenedor - altura de la imagen) */
  }
  100% {
      top: -400px; /* Regresa a la parte superior */
  }
}


.scaling-image {
  width: 200px; /* Ancho inicial de la imagen */
  animation: scaleAnimation 2s ease-in-out infinite; /* Llama a la animación */
}

@keyframes scaleAnimation {
  0% {
      transform: scale(1); /* Tamaño original */
  }
  50% {
      transform: scale(1.1); /* Aumenta el tamaño al 120% */
      right: 10px;
  }
  100% {
      transform: scale(1); /* Regresa al tamaño original */
  }
}


.text-container {

  transition: transform 0.3s ease; /* Transición suave para el efecto de crecimiento */
}

.text-container:hover {
  transform: scale(1.2); /* Aumenta el tamaño al 120% al pasar el mouse */
}


.moving-box {

  animation: moveLeftRight 6s linear infinite; /* Llama a la animación */
}

@keyframes moveLeftRight {
  0% {
      transform: translateX(0); /* Comienza en la posición original */
  }
  50% {
      transform: translateX(100px); /* Se mueve a la derecha hasta el ancho de la ventana */
  }
  100% {
      transform: translateX(0); /* Regresa a la posición original */
  }
}


.hover-border {
  border-bottom: 4px solid transparent; /* Borde transparente por defecto */
  transition: border-color 0.3s; /* Transición suave */
}
.hover-border:hover {
  border-color: #D5006D; /* Color fucsia al pasar el mouse */
  cursor: pointer;
}
.hover-border:hover img {
  transform: scale(50); /* Aumenta el tamaño de la imagen a 50px */
  translate: 20px;
}


.truncate {
  overflow: hidden;          /* Oculta el contenido que desborda */
  white-space: nowrap;      /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis;  /* Muestra puntos suspensivos (...) al final */
}